<link rel="stylesheet" href="../../program/paper/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
<div class="title">
    해당 QR코드를 스캔 해주세요.
</div>
<div class="padding-top"></div>
<div class="padding-top"></div>
<div class="padding-top"></div>
<div class="padding-top"></div>
<div class="padding-top"></div>
<div class="padding-top"></div>
<div class="padding-top"></div>

<div class="QRcode">
    <% if(locals.dataUrl) { %> 
        <img src="<%= dataUrl %> "  alt="qrcode">
    <% } %> 
</div>