.wrapper {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #ffffff;
    width: 100%;
}

.margin-auto {
    max-width: 310px;
    margin: auto;
}


.flex-wrapper {
    display: flex;
}

.padding-top {
    padding-top : 1.5rem;
}

.container {  
    width: 100%;
}

.title {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #0a4a9b;
    color: white;
    text-align: center;
    font-size: 25px;
    padding:10px;
}

.paper>li {
    width: 100%;
    padding: 0.7rem;
}

.paper>li>.margin-auto>div>.question {
    padding: 0px 5px 0px 5px;
    height: 20%;
    width: 50px;
    font-size: 16px;
}

.paper>li:nth-child(n) {
    background-color: #ffffff;
}

.paper>li:nth-child(2n) {
    background-color: #eeeeee;
}


.paper>li:nth-child(n)>.margin-auto>div>.question {
    background-color: #eeeeee;
}

.paper>li:nth-child(2n)>.margin-auto>div>.question {
    background-color: #ffffff;
}

.description {
    font-size : 0.80rem
}

.flex-area1 {
    margin-left: 23px;
}

.flex-area2 {
    display: flex;
    align-items: center;
}

.date {
    text-align: center;
}

.center{
    text-align: center;
    padding-right: 10px;
}

.msg {
    color: red;
    font-size : 0.75rem
}

.QRcode{
    
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}
.QRcode>.title {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.QRcode>img{
    width: 250px;
    height: 250px;
}

.choice, .answer {
    font-size : 0.80rem
}

.agreement {
    margin-left: 15px;
}

.submit {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #0a4a9b;
    padding:5px 10px 5px 10px;
    color: white;
    outline: #0a4a9b;
    margin:30px 0px 50px 0px;
}

input[type="text"] {
    width: 100%;
}

input[type="number"] {
    width: 100%;
}

table{
    width: 190px;
}

th {
    width: 40px;
}

.font {
    font-size: 12px;
}