<link rel="stylesheet" href="../../program/home/css/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">

<div class="container">
  <h1 class="title">billion love</h1>

  <a href="/paper" target="_blank">
    <div class="link">전자문진표</div>
  </a> 

  <a href="https://zz121210.github.io/qrscanner/" target="_blank">
    <div class="link">QR스캐너</div>
  </a>
  
  <a href="/excel" target="_blank">
    <div class="link">출입명단 조회 및 다운로드 </div>
  </a>
</div>
