<link rel="stylesheet" href="../../program/home/css/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

<div class="margin-top"></div>
<a href="/"> <h1 class="logo">billion love </h1></a>

<div class="container">
  <a href="https://billionlove.kr/paper" target="_blank">
    <div class="link">전자문진표</div>
  </a>

  <a href="https://billionlove.kr/paper/security_pledge?member_id=<%=member_id%> " target="_blank">
    <div class="link">전자문진표(보안서약서)</div>
  </a> 

  <a href="https://billionlove.kr/paper/security_pledge_update" target="_blank">
    <div class="link">보안서약서 수정</div>
  </a> 

  <a href="https://billionlove.kr/qrscan" target="_blank">
    <div class="link">QR스캐너</div>
  </a>
  
  <a href="https://billionlove.kr/excel/1" target="_blank">
    <div class="link"> 출입명단 조회 및 다운로드 </div>
  </a>


  <a href="https://billionlove.kr/login/logout" target="_blank">
    <div class="link"> 로그아웃 </div>
  </a>
</div>
