<h1>어드민</h1>  

<input type="text" class="place" placeholder="장소를 입력해주세요."> <input class="createUrl" type="button" value="장소 입력">

<div class="url">
    
</div>

<script>
    
    document.querySelector('.createUrl').addEventListener('click', () => {
        if ( document.querySelector('.place').value == "" ){
            document.querySelector('.url').innerText = "장소를 입력하세요."
        } else {
            place = document.querySelector('.place').value
            document.querySelector('.url').innerHTML = `<a href="paper/${place}"> ${place} 이동 </a>`
        }
    })
</script>

