@font-face {
    src: url("./ErasBoldITC.ttf");
    font-family: "eras";
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

.container {
    max-width: 310px;
    min-width: 300px;
    height: 500px;
    padding: 20px;
    margin: auto;
}

.link {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    height: 45px;
    font-size: 20px;
    margin-bottom: 23px;
    width: 270px;
    background-color: #fafafa;
    border-radius: 25px 25px 25px 25px;
    line-height: 45px;
}

a:nth-last-child(1) .link {
    background-color: rgb(63, 63, 63);
    color: white;
}