@font-face {
  src: url("./GmarketSansTTFBold.ttf");
  font-family: "gSansBold";
}

h1 {
  margin: 10px 0;
  font-size: 40px;
}

#loadingMessage {
  text-align: center;
  padding: 40px;
  background-color: #eee;
}

#canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#output {
  display:none;
}

#output div {
  padding-bottom: 10px;
  word-wrap: break-word;
}

#noQRFound {
  text-align: center;
}

#outputMessage {
  display : none;

}

.container {
  width: 92%;
  height: 750px;
  padding-top: 5%;
  margin: auto;

}

.content {
  position: relative;
  bottom:5px;
  text-align: center;
  font-family: "gSansBold";
  background-color: white;
  font-size: 40px;
}

p {
  padding-top : 10px;
  font-size: 33px;
}

mark {
  background: #17ff80;
}

#canvas {
  transform:rotate(90deg);
  -moz-transform: scaleX(-1); 
  -o-transform: scaleX(-1); 
  -webkit-transform: scaleX(-1); 
  transform: scaleX(-1);   
  filter: FlipH;
  -ms-filter: "FlipH";
}